pkgbase = globalprotect-uoy-bin
	pkgdesc = GlobalProtect VPN client Agent
	pkgver = 6.0.1
	pkgrel = 6
	url = https://support.york.ac.uk/s/article/VPN-GlobalProtect-Linux-instructions
	install = globalprotect.install
	arch = x86_64
	license = custom
	makedepends = dpkg
	depends = qt5-webkit
	depends = wmctrl
	provides = globalprotect
	source = local://globalprotect_6.0.1-6uoy0_amd64.deb
	source = local://globalprotect-ui_6.0.1-6uoy0_amd64.deb
	sha256sums = f3f2a92c2eed3a541db55d8dacbda79235d87af88f87647d0a7502759c3b1c4f
	sha256sums = 4a2ce927f4727426f95b982bf41bfbf16c6b90d56cdf615a2342a61850ef9ccb

pkgname = globalprotect-uoy-bin
